<section>
  <div class="page-header">
    <h1>Locations</h1>
  </div>
  <div class="col-xs-12">
    <div class="alert alert-warning text-center" ng-show="!addNew">
      <a ng-click="add()">Add new location</a>
    </div>
  	<form name="newForm" ng-show="addNew" class="form-inline new-form" ng-submit="submit(newForm.$valid)" novalidate>
	  <fieldset>
	    <div class="form-group" show-errors>
	      <input name="location" type="text" ng-model="location" id="newLocation" class="form-control" placeholder="Location" required>
	      <div ng-messages="newForm.location.$error" role="alert">
	        <p class="help-block error-text" ng-message="required">Location required.</p>
	      </div>
	    </div>
    	<div class="form-group">
    	  <input type="submit" class="btn btn-default">
    	</div>
    	<div class="form-group">
    	  <input type="button" class="btn btn-default" value="Cancel" ng-click="cancel()">
    	</div>
	  </fieldset>
  	</form>
  	<table class="table-bordered datagrid">
    <tr ng-repeat="item in items | orderBy:['-isactive', 'location']">
      <td ng-show="item !== selected">{{item.location}}</td>
      <td ng-show="item !== selected">{{item.isactive ? "Active" : "Inactive"}}</td>
      <td ng-show="selected === null && !addNew"><a class="btn btn-primary" ng-click="editItem(item)">
	        <i class="glyphicon glyphicon-edit"></i>
	      </a>
	      <a class="btn btn-primary" ng-click="delete(item)">
	        <i class="glyphicon glyphicon-trash"></i>
	      </a>
      </td>
      <td colspan="2" ng-show="selected === item && !addNew">
	      <form name="editForm" class="form-inline" ng-submit="update(editForm.$valid)" novalidate>
		      <table>
		      <tr>
			      <td>
			      	<input name="location" type="text" ng-model="editOrig.location" id="editLocation" class="form-control" required>
			      	<div ng-messages="editForm.location.$error" role="alert">
			      	  <p class="help-block error-text" ng-message="required">Location required.</p>
			      	</div>
		      	  </td>
		      	  <td>
		      	  	<input type="checkbox" ng-model="editOrig.isactive" ng-checked="{{editOrig.isactive}}">
		      	  </td>
		      	  <td>
		      	  	<div class="form-group">
			    	  <input type="submit" value="Save" class="btn btn-default">
			    	</div>
			    	<div class="form-group">
			    	  <input type="button" class="btn btn-default" value="Cancel" ng-click="cancel($index)">
			    	</div>
		      	  </td>
	      	  </tr>
		      </table>	
	      </form>
      </td>
      
    </tr>
    </table>
  </div>
  <style>
  .new-form {
  	padding: 15px;
  	padding-left: 0;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .datagrid td {
  	padding: 5px 15px;
  }
  </style>
</section>